/* desktop view */
@media (min-width:990px)
{   
    .header-container{
    width:40vw;
    
    }
    .logo{

        font-size: 3vh;
        padding-left: 11vw;
    }
    .items{
        width: 40vw;
        justify-content: space-evenly;
        
    }
    .ul{
        position: relative;
        top: 2vw;
    }
    .donate-button{
        position: relative;
        top: 2vw;
    }
    .image{
        background-image: url('../assets/annie-spratt-135307-unsplash.png');
        flex-direction: row-reverse;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-right: 15vw;
        padding-top: 5vw;
    }
.quote-1{

    height: 15vw;
    width: 15vw;
}
.punch-line{

    font-size: 4vw;
}

    .white-box{
    height:25vw;
    width:28vw;
    }
    
.blue-box{
    height:3vw;
    width:10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 4vw;
    top: -1.5vw;
    
    
}   
.pin-1{
    font-size: 1.2vw;
}    
    


    .quote-2{
        padding-left: 4vw;
        padding-top: 1vh;
        font-size: 2.1vw;
        padding-right: 4vw;
        line-height: 1.5em;
        
        
    }
    .info{
        padding-left: 3vw;
        color: #354463;
        margin-top: 7vh;


    }
    .footer-container{
        flex-wrap: nowrap;
        justify-content: center;
        font-size: 2vw;
        height: 16vw;
    }
    .learn{
        margin-right: 10px;
    }
    .advocate{
        margin-right: 10px;
    }
    .share{
        margin-right: 10px;
    }
    .blue-box-2{
        height:3vw;
        width:20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 40vw;
        top: -80.5%;
        
        
    }   
    .pin-2{
        font-size: 1.2vw;
    } 
    p{
        font-size: 1vw;
        font-weight: lighter;
    }
       
}