    *{
        margin: 0;
        padding: 0;
    }
    @font-face{
        font-family: FloodStd;
        src: url(../font/Flood.otf);
    }
    .container{
        color: #354463;
        height:13vh;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;

    }

    .logo{
        line-height: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        position: relative;
        left:2vw;
    }

    .items{
        color: darkslategrey;
    }

    .ul{
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;

    }
    .donate-button {
        background-color: #C1F7D5; /* Green */
        border: none;
        color: darkslategrey;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 7.447vw;
        
    }

    .image{
        display: flex;
        flex-direction: column;
        background-size: 100%;
        background-repeat: no-repeat;
        align-items: center;
        color: #354463;
    }
    .white-box{
        background-color: white;
        color: #354463;
        font-family: Arial, Helvetica, sans-serif;   
    }
    .info{
        color: #354463;
        
    }
    .blue-box{
        background-color: #354463;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        
    }
    .pin-1{
        font-family: Arial, Helvetica, sans-serif;   
        color: white;
        
    }
    .quote-1{
        color: white
    }

    .quote-2{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        
    } 

    .punch-line{
        font-family: FloodStd;
    }
    .footer-container{
        font-family: Arial, Helvetica, sans-serif;
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        background-color:#C1F7D5;
        color: #354463;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 5vw;
            
    }

    .blue-box-2{
        background-color: #354463;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        
    }
    .pin-2{
        font-family: Arial, Helvetica, sans-serif;   
        color: white;
        
    }

    .learn{
        width: 50%;
    }
    .advocate{
        width: 50%;
    }
    .share{
        width: 50%;
    }
    .donate-f{
        width: 50%;
    }
