/* mobile view */
@media (max-width:700px)
{   
    .container{
        height: 38vh;
        flex-wrap: wrap;
        padding-top: 10vw;
    }   
    .logo{

        font-size: 2.8vh;
        padding-left: 5vw;
    }
    .items{
        
        width: 45vw;
    }
    .ul{
        display: block;
        line-height: 1.5em;

    
    }
    .header-container{
        width:45vw;
        
    }
    .donate-button{
        width:80vw;
    }
    .image{
        height: 70vh;
        background-image: url("../assets/annie-mobile2.png");
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 6vw;
        padding-bottom: 5vw;
    }
    .quote-1{

        height: 15vw;
        width: 15vw;
    }
    .punch-line{

        font-size: 9vw;
        padding-top: 10vw;
    }

    .white-box{
        height: 60vw;
        width: 85vw;
    }
    .blue-box{
        width:35vw;
        height: 8vw;
        top:-4vw;
        left: 4vw;
    }

    .quote-2{
        padding-left: 4vw;
        /* padding-top: 1vh; */
        font-size: 5.5vw;
        padding-right: 6vw;
        line-height: 1.5em;    
    }

    .info{
        padding-left: 3vw;
        color: #354463;
    }

    .footer-container{
        font-size: 5vw;
        height: 50vh;
    }
    .blue-box-2{
        height:8vw;
        width:50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 3vw;
        top: -19.5%;
        
        
    }   
    .pin-2{
        font-size: 3vw;
    } 
    p{
        font-size: 3.5vw;
        font-weight: lighter;
    }
    
}
