/* tablet view */
@media (max-width:990px) and (min-width:700px)
{
    .container{
        flex-wrap: wrap;
        height: 18vw;
    }
    .header-container{
    width:40vw;
    order:1;

    }
    .donate{
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        width: 45vw;
        order: 2;
        

    }
    .donate-button{
        
        width:50%;

        
    }
    .items{
        width: 80vw;
        justify-content: space-evenly;
        order:3;
    
    }
    .image{
        background-image: url('../assets/annie-spratt-tab.png');
        height: 80vh;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 18vw;
    }
    .quote-1{

        height: 15vw;
        width: 15vw;
    }
    .punch-line{
    
        font-size: 6vw;

    }
    
    .white-box{
        height: 45vw;
        width: 70vw;
    }
    .blue-box{
        width:20vw;
        height:6vw;
        left :5vw;
        top: -3vw;
    }
    .quote-2{
        padding-left: 4vw;
        /* padding-top: 1vh; */
        font-size: 4.2vw;
        padding-right: 6vw;
        line-height: 1.5em;    
    }

    .info{
        padding-left: 3vw;
        color: #354463;
    }

    .footer-container{
        font-size: 3vw;
        height: 24vw;
    }
    p{
        font-size: 2vw;
        font-weight: lighter;
    }
    .blue-box-2{
        height:5vw;
        width:50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 5vw;
        top: -32.5%;
        
        
    }   
    .pin-2{
        font-size: 2vw;
    } 
    .learn{
        width: 50%;
    }
    .advocate{
        width: 50%;
    }
    .share{
        width: 50%;
    }
    .donate-f{
        width: 50%;
    }
       

} 
